<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: 'node-tmp'}) %>
	</head>
	<body>
		<div class="container p-2">
			<a href="https://udtalk.jp">UDトーク</a>
		</div>
	</body>
</html>
